.alignmentContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.paddedContainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.infoTextHeading {
  margin-top: 10vh;
  font-weight: 600;
  font-size: 6vw;
  text-align: center;
  letter-spacing: 0.02em;
}

.infoTextSubHeading {
  font-weight: 600;
  font-size: 2em;
  text-align: center;
}

.infoTextParagraph {
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}

.addButton {
  text-align: center;
  width: 1.5em;
  font-size: 2em;
  padding: 5px;
  display: grid;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
}

.addButton:hover {
  cursor: pointer;
  background: lightblue;
}

/* mobile media query */
@media only screen and (max-width: 1115px) {
  .mainGraphic {
    max-height: 15vh;
  }

  .infoTextSubHeading {
    font-size: 5vw;
  }

  .bookshelfContainer {
    margin: 20px;
  }
}

/* desktop media query */
@media only screen and (min-width: 1115px) {
  .mainGraphic {
    max-height: 20vh;
  }
}
