.form {
    width: 100%;
}

.formItem {
    display: block;
    margin: 10px 10px;
}

.formItem label {
    display: block;
    margin-bottom: 5px;
}

.formItem input[type='text'] {
    width: 95%;
    padding: 10px 10px;
    height: 60px;
    text-align: center;
}

.formItem select {
    width: 20%;
    padding: 10px 10px;
    height: 60px;
    text-align: center;
}

.error {
    color: red;
}

.message {
    color: green;
}

.requestContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid;
  border-radius: 15px;
  margin: auto;
  background: whitesmoke;
  box-shadow: 5px 10px lightblue;
  max-width: 80%;
}