 @import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

.main {
  min-height: 85vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.infoTextHeading {
  margin-top: 10vh;
  font-weight: 600;
  font-size: 6vw;
  text-align: center;
  letter-spacing: 0.02em;
}

.countdown {
  font-family: 'Graduate', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 8vw;
  align-items: center;
  text-align: center;
  margin: 50px 0px;
}

.infoTextSub {
  font-weight: 600;
  text-align: center;
}

.explanation {
  margin: 10vh 20vw;
  display: flex;
  flex-direction: column;
  row-gap: 20vh;
}

.explanation img {
    max-height: 20vh;
}

.thirdsGrid {
  display: grid;
  column-gap: 10vw;
  row-gap: 5vh;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 3vw;
  text-align: center;
  justify-items: center;
}

.twoThirds {
    grid-column-start: 1;
    grid-column-end: span 2;
    text-align: left;
}

.wholeRow {
    grid-column-start: 1;
    grid-column-end: span 3;
}

.graphicRight {
    grid-column-start: 3;
    grid-column-end: span 1;
}

.green {
  color: rgba(13, 237, 102, 1);
}

.orange {
  color: rgba(237, 94, 13, 1);
}

.halfGraphic {
  grid-column-start: 1;
  grid-column-end: span 1;
  align-self: center;
}

.halfGraphicRight{
  grid-column-start: 2;
  grid-column-end: span 1;
}

.textBeneathImage {
  grid-row: 4;
  width: 80%;
  margin: 0;
}

.redirectLink {
  color: rgba(7, 105, 252, 1);
  font-size: 2vw;
}

.redirectLink:hover{
  text-decoration: underline;
}


/* mobile media query */
@media only screen and (max-width: 915px) {

}

/* desktop media query */
@media only screen and (min-width: 915px) {

}
