.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.footer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footerLinks {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}

/* mobile media query */
@media only screen and (max-width: 1115px) {
  .footerLinks {
    flex-direction: column;
    gap: 20px;
  }
}