
.main {
  min-height: 85vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
    max-width: 800px;
    margin:  auto;
    padding: 10px;
}

.form {
    width: 100%;
}

.formItem {
    display: block;
    width: 100%;
    margin: 10px auto;
}

.formItem label {
    display: block;
}

.formItem input[type='text'] {
    display: block;
    width: 100%;
    padding: 10px;
}

.formItem textarea {
    display: block;
    width: 100%;
    padding: 10px;
}

.error {
    color: red;
}

.message {
    color: green;
}

.landingContainer {
  padding: 0 2rem;
  text-align: center;
}

.infoTextHeading {
  margin-top: 10vh;
  font-weight: 600;
  font-size: 6vw;
  text-align: center;
  letter-spacing: 0.02em;
}

.infoTextSub {
  font-weight: 600;
  text-align: center;
}

.detailContainer {
  display: grid;
  column-gap: 40px;
  align-items: center;
  text-align: center;
}

.detailHeader {
  margin-bottom: 0.1vh;
}

.borrowRequest {
  margin-bottom: 40px;
}

.requestHeading {
  margin-top: 10vh;
  font-weight: 600;
  font-size: 5em;
  text-align: center;
  letter-spacing: 0.02em;
}

.requestTitle {
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.02em;
}

.requestContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 40%;
  border: 1px solid;
  border-radius: 15px;
  margin: 3.5vh 2vw;
  background: whitesmoke;
  box-shadow: 5px 10px lightblue;
}

.requestContainer p {
  margin: 0.8vh 0;
}

.requestContainer p:last-child {
  margin-bottom: 3vh;
}

@media only screen and (max-width: 1115px) {
  .infoTextSub {
    font-size: 3vw;
  }

  .detailHeader {
    font-size: 4vw;
  }

  .detailText {
    font-size: 2.5vw;
    padding: 1vh 0;
  }

  .detailGraphic {
    grid-column-start: 1;
    padding-bottom: 5vh;
    min-width: 50vw;
    max-width: 60vw;
    margin: auto;
  }

  .dg1 {
    grid-row: 2;
  }

  .dg2 {
    grid-row: 4;
  }

  .requestHeading {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1115px) {
  .infoTextSub {
    font-size: 2vw;
  }

  .detailContainer {
    row-gap: 10vh;
    margin: 10vw 50px 100px 50px;
  }

  .detailHeader {
    font-size: 2vw;
  }

  .detailGraphic {
    grid-column-start: 1;
    grid-column-end: span 2;
    padding-left: 50px;
    min-width: 300px;
    max-width: 400px;
  }

  .detailText {
    padding: 0% 10%;
    grid-column-end: span 4;
    font-size: 1.5vw;
  }

  .graphicRight {
    grid-column-start: 5;
    padding-left: 0px;
    padding-right: 50px;
  }

  .textRight {
    grid-column-start: 3;
  }

  .requestHeading {
    font-size: 3vw;
  }
}
