.nav {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.item {
    margin-right: 12px;
}

.logo {
  max-height: 128px;
  max-width: 300px;
  cursor: pointer;
}

.header {
  margin: 20px;
  display: grid;
  column-gap: 40px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.headerLink {
  white-space: nowrap;
}

.headerLink:hover{
  text-decoration: underline;
}

.connectButton {
  background: rgba(64, 146, 198);
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.connectButton:hover {
  background: rgba(64, 146, 198, 0.8);
}

.walletInfo {
  background: rgba(64, 146, 198, 0.8);
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Media query for mobile/low-width layout */
@media only screen and (max-width: 915px) {
    .link1 {
      grid-row: 2;
    }

    .link2 {
      grid-row: 3;
    }

    .link3 {
      grid-row: 4;
    }

    .link4 {
      grid-row: 5;
    }

    .connectButton, .walletInfo {
      grid-row: 6;
      margin: auto;
    }
}

/* Media query for desktop layout */
@media only screen and (min-width: 915px) {
  .logo {
    grid-column: 1 / 2 ;
  }

  .link1 {
    grid-column: 4 / span 1 ;
  }

  .link2 {
    grid-column: 5 / span 1 ;
  }

  .link3 {
    grid-column: 6 / span 1 ;
  }

  .link4 {
    grid-column: 7 / span 1 ;
  }

  .connectButton, .walletInfo {
    grid-column: 8 / 9;
  }
}